*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 1140px;
}

.content__list {
  display: flex;
  height: 298px;
  overflow: auto;
  flex-direction: column;
  row-gap: 32px;
  position: relative;
  padding-top: 19px;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__list-item:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link {
  margin: 2px;
  display: block;
  text-decoration: none;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__details {
  width: 35%;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 200px;
}

.content__video-card:hover .content__video-card-description-container {
  text-decoration: underline;
  text-underline-offset: 1px;
  color: white;
}

.content__video-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-top: 4px;
  margin-bottom: 4px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: rgba(255, 255, 255, 1);
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  width: 100%;
  object-fit: cover;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.result {
  width: 62.37%;
  padding-top: 70px;
}

.result__video {
  height: 386px;
  width: 100%;
  object-fit: cover;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-top: 5px;
}

.search-form__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  column-gap: 5px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: auto;
  background-color: white;
}

.search-form__textfield {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: transparent;
  border-left: none;
  border-right: none;
  width: 225px;
  height: 27px;
  appearance: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 5px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__textfield::placeholder {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 0, 7);
}

.search-form__textfield:focus {
  border-top: 0px;
  border-bottom: none;
  outline: none;
}

.button {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  padding: 6px 74px;
  border: 1px solid white;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: calc(21.6 / 18 * 100%);
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.more-button {
  height: 34px;
  width: 100%;
}